@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
    --primary-color: #119f05;
    --secondary-color: rgb(93, 187, 16);
    --dark-color: black;
    --light-color: white;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Nunito", sans-serif;
    color: #000000;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

h1,
h2 {
    font-weight: bold;
    line-height: 1.2;
    margin: 10px 0;
    color: var(--primary-color);
}

h3 {
    color: var(--primary-color);
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

.navbar {
    background-color: var(--light-color);
    color: var(--primary-color);
    height: 80px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    color: var(--secondary-color);
}

.navbar .flex {
    justify-content: space-between;
}

.logo-img {
    margin: 0 15px;
    height: 30px;
    width: auto;
}

.name-logo {
    margin: 0 15px;
    height: 30px;
    width: auto;
}

/* Showcase */

.showcase {
    height: 400px;
    background-color: white;
    position: relative;
}

.showcase h2 {
    color: black;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 60% auto;
    gap: 30px;
}

.showcase-text {
    animation: slideInFromLeft .75s ease-in;
}

.showcase-form {
    position: relative;
    padding: 40px;
    justify-self: flex-end;
    color: var(--primary-color);
    animation: slideInFromRight .75s ease-in;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"],
.showcase-form textarea {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.showcase-line {
    display: flex;
}

/* Skills */

.skills .flex {
    flex-wrap: wrap;
}

.skills .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.skills img {
    height: 75px;
    width: auto;
}

.skills .card h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.skills .card:hover {
    transform: translateY(-15px);
}

/* Portfolio */

.portfolio .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.portfolio-img {
    height: auto;
    width: 300px;
}

.card-info {
    margin: 0 30px;
}

/* Resume */

.resume .grid {
    grid-template-columns: 1fr 1fr;
    
    overflow: hidden;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */

.footer .flex {
    justify-content: space-between;
}

.footer .social a {
    margin: 0 5px;
}

.footer-img {
    height: 20px;
    width: auto;
}

.footer nav {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

/* Tablets and under */
@media(max-width: 960px) {
    .navbar {
        height: auto;
    }

    .navbar .flex {
        flex-direction: column;
        overflow: hidden;
    }

    .logo-img {
        margin: 10px 15px;;
    }

    .showcase h2 {
        font-size: 20px;
    }

    .portfolio .grid {
        overflow: hidden;
    }

    .portfolio .flex {
        flex-direction: column;
    }
}

@media(max-width: 640px) {
    .navbar a {
        font-size: 14px;
    }

    .logo-img {
        margin: 10px 10px;
        height: 20px;
    }
    
    .name-logo {
        display: none;
    }

    .showcase-line {
        align-self: center;
    }

    .showcase h2 {
        font-size: 13px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .skills img {
        height: 50px;
    }
    
    .skills .card h4 {
        font-size: 12px;
    }

    .footer .flex {
        flex-direction: column;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer p {
        font-size: 12px;
    }

    .footer nav {
        flex-direction: row;
    }

    .footer li {
        margin: 8px;
    }

    .resume .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

}