*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* font: inherit; */
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  background: white;
  color: black;
  max-width: 960px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.banner {
  margin: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
  
.forrest-logo {
  max-height: 40px;
  height: 100%;
}

.forrest-name {
  max-height: 40px;
  height: 100%;
}

.header-nav {
  margin: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16pt;
}

a:link {
  color: rgb(17, 159, 5);
  font-weight: bold;
  text-decoration: none;
}
  
a:visited {
  color: #119f05;
  text-decoration: none;
}
  
a:hover {
  color: rgb(93, 187, 16);
  text-decoration: none;
}
  
a:active {
  color: rgb(93, 187, 16);
  text-decoration: none;
}

main {
  margin: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

article {
  display: flex;
}
  
.portfolio-item {
    margin: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-pic {
  margin: 10px;
  width: 400px;
}

.portfolio-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: auto;
}

.portfolio-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.portfolio-icon {
  margin: 5px;
  height: 15px;
}

.portfolio-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.github-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.portfolio-link-icon {
  margin: 10px;
  height: 20px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer section {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-link {
  margin: 10px;
}

#link-img {
  width: 20px;
  height: auto;
}

.contact-button {
  margin: 10px;
  margin-bottom: 15px;
  font-size: 24px;
}



@media all and (max-width: 768px){

  .forrest-logo {
    max-height: 20px;
  }

  .forrest-name {
    max-height: 20px;
  }

  .header-nav {
    font-size: 16px;
    margin-bottom: 0px;
  }

  main {
    flex-direction: column;
  }

  article {
    flex-direction: column;
  }

  .portfolio-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio-pic {
    width: 300px;
  }

  .portfolio-links {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .portfolio-info {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .portfolio-line {
    margin: 5px;
  }

  .github-link {
    margin-left: 20px;
  }

  .footer section {
    flex-direction: column;
  }

}