body {
  font-family: "Nunito", sans-serif;
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 25px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.forrest-logo {
  width: 10%;
}

.forrest-name {
  width: 40%;
  margin-bottom: 2px;
}


.personal-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16pt;
  margin-top: 50px;
  margin-bottom: 25px;
}

.personal {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 25px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#profile-pic {
  margin-right: 15px;
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

.about-me {
  margin-left: 15px;
  max-width: 480px;
  font-size: 12pt;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.footer-links {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.business-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-button {
  margin: 20px;
  margin-bottom: 27px;
  font-size: 24px;
}

.business {
  margin: 12px;
}

#link-img {
   width: 20px;
   height: auto;
}

.small-text {
  margin: 20px;
  color: rgb(17, 159, 5);
  font-size: 12px;
  text-align: center;
}

a:link {
  color: rgb(17, 159, 5);
  font: Nunito;
  text-decoration: none;
}

a:visited {
  color: #119f05;
  font: Nunito;
  text-decoration: none;
}

a:hover {
  color: rgb(93, 187, 16);
  text-decoration: none;
}

a:active {
  color: rgb(93, 187, 16);
  font: Nunito;
  text-decoration: none;
}



@media all and (max-width: 600px){

  .forrest-logo {
    width: 15%;
  }

  .forrest-name {
    width: 60%;
    margin-bottom: 2px;
  }

  .personal-links {
    font-size: 16px;
    margin-bottom: 0px;
  }

}