*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* font: inherit; */
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
    background: white;
    color: black;
    max-width: 960px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.banner {
    margin: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
  
.forrest-logo {
    max-height: 40px;
    height: 100%;
}

.forrest-name {
    max-height: 40px;
    height: 100%;
}

.header-nav {
    margin: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16pt;
}

a:link {
    color: rgb(17, 159, 5);
    font-weight: bold;
    text-decoration: none;
}
  
a:visited {
    color: #119f05;
    text-decoration: none;
}
  
a:hover {
    color: rgb(93, 187, 16);
    text-decoration: none;
}
  
a:active {
  color: rgb(93, 187, 16);
  text-decoration: none;
}

main {
  margin: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills {
  display: flex;
  flex-direction: row;
}

.skill-section {
  margin: 20px;
}
  
.skill-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill-icon {
  margin: 10px;
  height: 20px;
}

.edu {
  margin-top: 40px;
}

.edu-section {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.edu-block {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.edu-description {
  margin: 10px;
  max-width: 298px;
}

.work-block-1 {
  margin: 10px;
  margin-left: 95px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.work-block-2 {
  margin: 10px;
  margin-left: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.work-block-3 {
  margin: 10px;
  margin-left: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer section {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-link {
  margin: 10px;
}

.contact-button {
  margin: 10px;
  margin-bottom: 15px;
  font-size: 24px;
}

#link-img {
  width: 20px;
  height: auto;
}



@media all and (max-width: 768px){

  .forrest-logo {
    max-height: 20px;
  }

  .forrest-name {
    max-height: 20px;
  }

  .header-nav {
    font-size: 16px;
    margin-bottom: 0px;
  }

  main {
    flex-direction: column;
  }

  .skills {
    flex-direction: column;
  }

  .skill-section {
    margin: 0px;
  }

  h1 {
    font-size: 20px;
  }

  .footer section {
    flex-direction: column;
  }

}